node_modules/
yarn.lock
yarn-error.log
.env
.env.prod
.env.dev
todo
.serverless
.build
.DS_Store
.vscode
.dynamodb
.idea
.s3
.webpack
src/scripts/hoursExport.ts
src/scripts/checkoutButtonsExport.ts
coverage
report.*.json
migrations/*
src/scripts/local/*
swagger-spec.json